<ion-header>
  <ion-toolbar>
    <ion-title>HealthFit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img alt="Tu cuerpo" src="https://i.imgur.com/gTcbBkf.png" />
    <ion-card-header>
      <ion-card-title class="text-center">¡Entrenamiento!</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text-justify">
      El entrenamiento regular es fundamental para mejorar la salud y el bienestar general.
    Realizar ejercicio físico de manera constante ayuda a fortalecer el cuerpo, mejorar la 
    resistencia cardiovascular, y aumentar la fuerza muscular, lo que contribuye a una mejor calidad de vida.
    <br><br>
    Desde el punto de vista de la salud, el entrenamiento reduce el riesgo de enfermedades crónicas como la diabetes, 
    hipertensión y enfermedades cardíacas. Además, el ejercicio favorece el bienestar mental, 
    reduciendo los niveles de estrés, ansiedad y mejorando el estado de ánimo. 
    </ion-card-content>
  </ion-card>
</ion-content>

