<ion-header>
    <ion-toolbar>
      <ion-title>HealthFit</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-card class="custom-card-bg">
    <img alt="Tu cuerpo" src="https://i.imgur.com/BZzQb1Q.png" />
    <ion-card-header>
      <ion-card-title class="text-center">¡Recetas!</ion-card-title> <br>
      <ion-card-subtitle class="text-center"> Avena con Frutas y Semillas 🍎🍌🍑</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="text-justify">
      Ingredientes:
      1 taza de avena
      1 taza de leche o bebida vegetal
      1/2 plátano en rodajas
      1 puñado de fresas cortadas
      1 cucharada de semillas de chía
      Preparación: Cocina la avena en la leche a fuego lento durante 5 minutos. 
      Sirve en un bol y agrega las frutas y las semillas por encima.
    </ion-card-content>
  </ion-card>
  </ion-content>