<ion-header>
    <ion-toolbar>
      <ion-title>HealthFit</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-card class="custom-card-bg">
      <ion-card-header>
        <ion-card-title class="text-center">¡Alimentación!</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p class="text-justify">
            Una alimentación sana es crucial para mantener un cuerpo fuerte, 
            equilibrado y en forma, lo que se alinea con el objetivo de nuestra aplicación. 
            Consumir alimentos nutritivos proporciona al cuerpo los nutrientes esenciales para 
            funcionar correctamente, mejorando la energía, 
            el rendimiento físico y mental, y favoreciendo la recuperación tras el ejercicio. <br>
          <br>
            Una dieta equilibrada ayuda a mantener un peso saludable, 
            reducir el riesgo de enfermedades crónicas como la obesidad, 
            diabetes y problemas cardiovasculares, 
            y fortalece el sistema inmunológico <br>
          <br>
            En nuestra aplicación, el enfoque en recetas sencillas y nutritivas tiene como 
            objetivo ayudar a los usuarios a integrar fácilmente hábitos alimenticios saludables en su vida diaria.
        </p>
      </ion-card-content>
    </ion-card>
    <app-alert></app-alert>
  </ion-content>