.text-center {
    text-align: center;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .custom-button {
    --background: #a3e4d7;
    --background-hover: #82d6c2;
    --background-activated: #65c5af;
    --color: white; 
  }