<ion-header>
  <ion-toolbar>
    <ion-title>HealthFit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">¡Tu cuerpo!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="text-justify">
        El cuerpo humano es una máquina diseñada para moverse. A través de los músculos, se genera
        fuerza y estabilidad para realizar desde movimientos básicos hasta entrenamientos complejos.
        El ejercicio regular no solo fortalece estos músculos, sino que también mejora la circulación,
        promueve el bienestar mental y aumenta la energía. Al entrenar de manera equilibrada y consciente,
        puedes maximizar el rendimiento físico y prevenir lesiones, logrando así una vida más saludable y activa.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
