<ion-header>
  <ion-toolbar>
    <ion-title>HealthFit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">¡Bienvenido a HealthFit!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="text-justify">
        Descubre tu mejor versión con nuestras guías de ejercicio y alimentación
        saludable. Estamos aquí para ayudarte a alcanzar tus metas de bienestar físico
        y mental, con entrenamientos y recetas que te harán sentir en forma y lleno de
        energía.
      </p> <br>
      <p class="text-justify">
        ¿Quieres comenzar ahora? Ve al menú y presiona la sección "Tu cuerpo" 💪😊
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
